:root {
  --font-family: "Roboto", sans-serif;
  --upper-font-weight: 500;
  --big-font-weight: 700;
  --small-font-weight: 400;
  --most-color: #212121;
  --small-color: #757575;
  --hover-color: #2196f3;
  --social-icons-bg-color: #ffffff;
  --social-icons-color: #afb1b8;
  --social-icons-bg-hover: #2196f3;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 26px;
  font-family: Raleway;
  font-weight: var(--big-font-weight);
  color: #2196f3;
  width: 145px;
  height: 31px;
}

.header-portofolio,
.header-studio,
.header-contacts {
  color: #212121;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--upper-font-weight);
  line-height: normal;
}

.header-studio:hover,
.header-studio:focus,
.header-portofolio:hover,
.header-portofolio:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--hover-color);
}

.address {
  color: var(--small-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.address:hover,
.address:focus {
  color: var(--hover-color);
}

.hover-address:hover,
.hover-address:focus {
  color: var(--hover-color);
}

.address .header-icons:hover,
.address .header-icons:focus {
  color: var(--hover-color);
}

.footer-phone:hover,
.footer-phone:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--hover-color);
}

.title {
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  height: 120px;
  width: 696px;
  margin-top: 200px;
}

.button {
  color: #fff;
  background-color: #2196f3;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--big-font-weight);
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.details .detail1 {
  color: var(--most-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--big-font-weight);
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.details .detail2 {
  display: flex;
  color: var(--small-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--small-font-weight);
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
  height: 75px;
  flex-shrink: 0;
}

.first-under-image {
  color: var(--most-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--upper-font-weight);
  line-height: normal;
  letter-spacing: 0.48px;
}

.second-under-image {
  color: var(--small-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--small-font-weight);
  line-height: normal;
  letter-spacing: 0.48px;
}

.detailed-address {
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--small-font-weight);
  line-height: normal;
  letter-spacing: 0.42px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--small-font-weight);
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.42px;
}

.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--small-font-weight);
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.42px;
}

.title-section {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/bg-pg-1.jpg");
  height: 600px;
}

.our-team-section {
  background-color: #f5f4fa;
  height: 648px;
}

.footer-section {
  background-color: #2f303a;
  height: 251px;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

.header .header-navigation ul {
  display: flex;
  align-items: baseline;
}

.header-studio {
  margin-right: 50px;
}

.header-portofolio {
  margin: 0px 50px 0px 0px;
}

.header-address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-details-section {
  display: flex;
  flex-direction: column;
}

.full-details-section .details-box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 94px;
  gap: 30px;
}

.full-details-section .what-we-do .header-what-we-do {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-details-section .what-we-do ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 94px;
  gap: 30px;
}

.our-team-section {
  display: flex;
}

.our-team-section .our-team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-our-team {
  margin-bottom: 50px;
}

.our-team-images {
  display: flex;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  margin: 60px 0px 28px 215px;
}

.detailed-address {
  margin: 0px;
}

.footer-mail {
  display: flex;
  padding: 12px 0px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-left: 215px;
}

.picture-our-team {
  border-radius: 0px 0px 4px 4px;
  background: #fff;

  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.header-icons {
  width: 16px;
  height: 16px;
  color: #757575;
  gap: 10px;
}

.icons-list {
  display: flex;
  margin-top: 28px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.icons-list .icon {
  width: 44px;
  height: 44px;
  background-color: var(--social-icons-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: var(--social-icons-color);
}

.icons-list .icon:hover,
.icons-list .icon:focus {
  background-color: var(--social-icons-bg-hover);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list .icon svg {
  width: 20px;
  height: 20px;
}

.icon-list {
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #f5f4fa;
  gap: 30px;
}

.icon-list .icon-details {
  width: 70px;
  height: 70px;
}

.title-reg-cx {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.svg-reg-cx {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
  gap: 30px;
}

.svg-dimensions {
  width: 106px;
  height: 100px;
  color: #afb1b8;
}

.svg-bg-dimensions {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.svg-bg-dimensions .svg-dimensions:hover,
.svg-bg-dimensions .svg-dimensions:focus {
  color: var(--hover-color);
}

.footer-section {
  display: flex;
}

.social-media-footer {
  color: #fff;
  margin-top: 48px;
  margin-left: 80px;
}

.footer-svg-main {
  display: flex;
  gap: 10px;
}

.footer-svg-bg-dimensions {
  color: #f5f4fa;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-svg {
  width: 20px;
  height: 20px;
}

.footer-svg-bg-dimensions:hover,
.footer-svg-bg-dimensions:focus {
  background-color: #2196f3;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.what-we-do-li {
  position: relative;
}

.what-we-do-list > li > p {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
}

/*MODAL*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 1s linear;
}

.modal-content {
  padding: 16px;
  background-color: #fff;
  width: 528px;
  margin: 0 auto;
  height: 581px;
  position: relative;
  border-radius: 4px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 1s linear;
}

.close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
